@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);

    --font-body: 'Open Sans', sans-serif;
    --font-headings: 'Poppins', sans-serif;

    --padding-container: 4rem 0;
}

body{
    font-family: var(--font-body);
}